:root {
  --main-color: rgb(246, 127, 9);
  --secondary-color: rgb(9, 246, 127);
  --tertiary-color: rgb(127, 9, 246);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Header And Footer */
header,
footer {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.text-3d-header,
.text-3d-footer {
  color: black;
}

.text-3d-header {
  font-size: 7rem;
  letter-spacing: 2rem;
}

.text-3d-footer {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

/* Text Shadowing */
.text-green,
.cross-score,
.player-one-modal-name,
.ai-player-1-text {
  text-shadow: 
  5px 5px 0 var(--secondary-color);
}

.text-orange,
.round-text,
.round-container,
.rounds-modal {
  text-shadow: 
  5px 5px 0 var(--main-color);
}

.text-purple,
.circle-score,
.player-two-name,
.player-two-modal-name,
.ai-player-2-text {
  text-shadow: 
  5px 5px 0 var(--tertiary-color);
}

/* Game container */
.game-background {
  display: flex;
  justify-content: center;
  /* If browser can't support it */
  background: linear-gradient(90deg, var(--secondary-color) 0, var(--main-color) 35%, 
    var(--main-color) 50%, var(--main-color) 65%, var(--tertiary-color) 100%);
  /* If browser can support it */
  background: linear-gradient(in oklch 90deg, var(--secondary-color) 0, var(--main-color) 35%, 
    var(--main-color) 50%, var(--main-color) 65%, var(--tertiary-color) 100%);
}

.game-master-container {
  width: 75%;
  padding: 2rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* Cards Background */
.cross-left-card,
.game-main-card,
.circle-right-card,
.score-player-container-one,
.score-player-container-two,
.button-container,
.round-master-container {
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Middle Buttons */
.button-container {
  width: 100%;
  grid-area: 1 / 2 / 2 / 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.difficulty-button-container,
.reset-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.difficulty-button,
.reset-button {
  padding: 1rem;
  border-radius: 15px;
  font-size: 3rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 0.2s;
}

.reset-button {
  width: 25%;
}

.difficulty-button:hover,
.reset-button:hover {
  transform: scale(1.1);
  transition: all 0.25s;
  color: white;
  -webkit-text-stroke: 1.5px black;
}

.difficulty-button:active,
.reset-button:active {
  transform: scale(0.95);
}

.easy:hover {
  background-color: var(--secondary-color);
}

.medium:hover {
  background-color: var(--main-color);
}

.hard:hover {
  background-color: var(--tertiary-color);
}

.active-difficulty {
  color: white;
  -webkit-text-stroke: 1.5px black;
}

.easy.active-difficulty {
  background-color: var(--secondary-color);
}

.medium.active-difficulty {
  background-color: var(--main-color);
}

.hard.active-difficulty {
  background-color: var(--tertiary-color);
}

.reset-button:hover {
  background-color: red;
}

.round-master-container {
  grid-area: 2 / 2 / 3 / 5;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
}

.round-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.score-player-container-one,
.score-player-container-two {
  padding: 1rem;
  display: grid;
  place-content: center;
}

.score-player-container-one {
  grid-area: 2 / 1 / 3 / 2;
}

.score-player-container-two {
  grid-area: 2 / 5 / 3 / 6;
}

.player-one-name,
.player-two-name {
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.player-one-name {
  text-shadow: 
  5px 5px 0 var(--secondary-color);
}

.player-two-name {
  text-shadow: 
  5px 5px 0 var(--tertiary-color);
}

.cross-score,
.circle-score {
  font-size: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross-left-card,
.circle-right-card {
  flex-direction: column;
  padding: 1rem;
  min-height: 1000px;
}

.cross-left-card {
  grid-area: 3 / 1 / 4 / 2;
  transition: all 0.5s ease-in-out;
}

.game-main-card {
  grid-area: 3 / 2 / 4 / 5;
  width: 100%;
}

.circle-right-card {
  grid-area: 3 / 5 / 4 / 6;
  transition: all 0.5s ease-in-out;
}

.disabled {
  pointer-events: none;
  opacity: 0.8;
  cursor: not-allowed;
  filter: grayscale(1);
  transition: all 0.25s ease-in-out;
}

/* X and O's */
.cross,
.circle,
.cell {
  font-size: 7rem;
  -webkit-text-stroke: 3px black;
  cursor: grab;
  padding: 1rem;
}

.cross,
.x {
  color: var(--secondary-color);
}

.circle,
.o {
  color: var(--tertiary-color);
}

/* Cells */
#game-board {
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.top-border {
  border-top: 5px solid rgba(255, 255, 255, 0.6);
}

.right-border {
  border-right: 5px solid rgba(255, 255, 255, 0.6);
}

.bottom-border {
  border-bottom: 5px solid rgba(255, 255, 255, 0.6);
}

.left-border {
  border-left: 5px solid rgba(255, 255, 255, 0.6);
}

.all-border {
  border: 5px solid rgba(255, 255, 255, 0.6);
}

.highlight-cross,
.highlight-circle {
  opacity: 0.6;
  transition: all 0.5s;
}

.highlight-cross {
  color: var(--secondary-color);
}

.highlight-circle {
  color: var(--tertiary-color);
}

/* Modal */
dialog {
  margin: auto auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out,
              transform 0.5s ease-in-out;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog[open] {
  opacity: 1;
  transform: scale(1);
}

dialog.fade-out {
  opacity: 0;
  transform: scale(0.9);
}

.modal-result,
.modal-init-game {
  padding: 0.5rem;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  backdrop-filter: blur(7px);
  outline: none;
  gap: 1.5rem;
  border: none;
}

.modal-init-game form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  font-size: 4rem;
}

.modal-init-gradient {
  border-radius: 15px;
  border: 6px solid transparent;
  /* If browser can't support it */
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) padding-box,
              linear-gradient(to right, var(--secondary-color) 0, var(--main-color) 35%, 
              var(--main-color) 50%, var(--main-color) 65%, var(--tertiary-color) 100%) border-box;
  /* If browser can support it */
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) padding-box,
              linear-gradient(to right in oklch, var(--secondary-color) 0, var(--main-color) 35%, 
              var(--main-color) 50%, var(--main-color) 65%, var(--tertiary-color) 100%) border-box;
}

.modal-init-game input {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 15px;
}

.modal-init-game input[type = number] {
  width: 25%;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.player-section {
  display: flex;
  gap: 2.5rem;
}

.player-1-container,
.player-2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ai-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Switch Styles */
#checkbox-player-1,
#checkbox-player-2 {
  display: none;
}

.switch {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
  transition: all 0.5s ease-in-out;
}

.switch svg {
  width: 2rem;
}

.switch svg path {
  fill: rgb(48, 48, 48);
}

#checkbox-player-1:checked + .switch {
  box-shadow: 0px 0px 1px var(--secondary-color) inset,
    0px 0px 2px var(--secondary-color) inset, 0px 0px 10px var(--secondary-color) inset,
    0px 0px 40px var(--secondary-color), 0px 0px 100px var(--secondary-color),
    0px 0px 5px var(--secondary-color);
  border: 2px solid var(--secondary-color);
  background-color: rgb(146, 180, 184);
}

#checkbox-player-2:checked + .switch {
  box-shadow: 0px 0px 1px var(--tertiary-color) inset,
    0px 0px 2px var(--tertiary-color) inset, 0px 0px 10px var(--tertiary-color) inset,
    0px 0px 40px var(--tertiary-color), 0px 0px 100px var(--tertiary-color),
    0px 0px 5px var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
  background-color: rgb(146, 180, 184);
}

#checkbox-player-1:checked + .switch svg {
  filter: drop-shadow(0px 0px 5px var(--secondary-color));
}

#checkbox-player-2:checked + .switch svg {
  filter: drop-shadow(0px 0px 5px var(--tertiary-color));
}

#checkbox-player-1:checked + .switch svg path,
#checkbox-player-2:checked + .switch svg path {
  fill: rgb(255, 255, 255);
}

.win-x {
  text-shadow: 
  5px 5px 0 var(--secondary-color),
  6px 6px 0 var(--secondary-color),
  7px 7px 0 var(--secondary-color);
}

.win-o {
  text-shadow: 
  5px 5px 0 var(--tertiary-color),
  6px 6px 0 var(--tertiary-color),
  7px 7px 0 var(--tertiary-color);
}

.tie {
  text-shadow: 
  5px 5px 0 var(--main-color),
  6px 6px 0 var(--main-color),
  7px 7px 0 var(--main-color);
}

.modal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.reset-button-modal,
.continue-button-modal,
.submit-btn {
  padding: 1rem;
  border-radius: 15px;
  font-size: 2rem;
  border: white solid 2px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
}

.reset-button-modal:hover,
.continue-button-modal:hover,
.submit-btn:hover {
  transform: scale(1.1);
  transition: all 0.25s;
  color: white;
  -webkit-text-stroke: 1.5px black;
  border: black solid 2px;
}

.reset-button-modal:hover {
  background-color: red;
}

.continue-button-modal:hover,
.submit-btn:hover {
  background-color: var(--main-color);
}

.reset-button-modal:active,
.continue-button-modal:active,
.submit-btn:active {
  transform: scale(0.95);
}

/* Footer */
footer {
  font-size: 4rem;
}

footer > .wave-text {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Text Animation */
.text-waving-animation {
  display: inline-block;
  animation: wave 1.2s;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}